.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeContent {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.userInfoContainer {
    display: flex;
    justify-content: center;
    border: 8px solid #1072EB;
    border-radius: 50%;
    background-image: white;
    width: 25rem;
    height: 25rem;
}

.userInfoContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15rem;
    height: fit-content;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.userStatContainer {
    display: grid;
    align-items: center;
    text-align: center;
    width: 16rem;
    height: 8rem;
    margin: 1rem;
    border: 2px solid white !important;
    padding: 0px !important;
    border-radius: 15px;
    background-image: white;
}