.container {
    background-color: white;
    width: 100%;
}

.navigationBar {
    height: 5rem;
    background-color: #ffffff;
}

.navigationBarContent {
    margin: 0rem 1rem 0rem 4rem;
    align-items: center;
    justify-content: flex-start;
}
.companyLogo{
    font-weight: 1000;
    font-family: system-ui;
    color: #1072EB !important;
}

.headerBtn {
    color: #1072EB;
    font-weight: 500;
    font-size: large;
}

.headerText {
    color: #1072EB;
    font-size: small;
    margin-top: 2px;
    margin-right: 10px;
}

.signUp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
}

.signUpImage {
    height: 25rem;
}

.signupbtn {
    justify-content: center;
    margin-top: 2rem;
    font-size: larger;
    font-weight: 500;
}

.signUpTitle {
    display: block;
    text-align: center;
    margin: 3rem;
}

.signUpForm {
    display: flex;
    flex-direction: column;
}

.fillBox {
    color: #1272eb;
    justify-content: center;
    font-weight: 500;
}

.loginBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20rem;
    height: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 15px;
    background: white;
}

.googleIcon {
    height: 2rem;
    width: 2rem;
}

.basicForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem;
}

.basicFormPage2 {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.basicFormImage {
    height: 25rem;
}

.basicFormPage2Title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1272EB;
}