.form_container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.form_title {
    text-align: center;
}

.form_inputBox{
    width: 15rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputBoxColumn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnOption {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}

.skill_options {
    flex-direction: row;
    display: flex;
}

.addedSkill {
    margin-left: 1rem;
    flex-direction: row;
    display: flex;
}

.updateCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 12rem;
    height: 8rem;
    margin: 1rem;
    border: 2px solid white !important;
    padding: 0px !important;
    border-radius: 15px;
    background-image: white;
}

.onBoardingFormCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10rem;
    height: 5rem;
    margin: 1rem;
    border: 2px solid white !important;
    padding: 0px !important;
    border-radius: 15px;
    background-image: white;
}

.experienceTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

.educationTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

.shadow {
    border: 0.2px solid white;
    padding: 10px;
    box-shadow: 2px 2px #1072EB;
}

.updateForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkBtn {
    color: white
}

.industryAndDepartmentSelect {
    display: flex;
    height: fit-content;
    margin: 1rem;
}

.candidateExperienceSelect {
    display: flex;
    width: 15rem;
    margin: 1rem;
}

.skillFormContainer {
    display: flex;
    justify-content: space-between;
}

.industryInfoBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 19rem;
    height: fit-content;
    margin: 2rem;
    border: 2px solid white !important;
    border-radius: 7px;
    padding: 0px !important;
    border-radius: 15px;
    background: white;
}

.headerContent{
    display: flex;
    justify-content: space-between;
}

.skillAddPane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillOption {
    display: flex;
    justify-content: space-between;
}

.skillWeight {
    display: flex;
    justify-content: center;
    align-items: center;
}