.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_title {
    text-align: center;
}

.form_inputBox{
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formContent {
    display: flex;
    flex-direction: column;
}

.btnOption {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}

.skill_options {
    flex-direction: row;
    display: flex;
}

.addedSkill {
    margin-left: 1rem;
    flex-direction: row;
    display: flex;
}

.updateCardContainer {
    display: grid;
    align-items: center;
    width: 12rem;
    height: 8rem;
    margin: 1rem;
    border: 2px solid white !important;
    padding: 0px !important;
    border-radius: 15px;
    background: white;
}

.shadow {
    border: 0.2px solid;
    padding: 10px;
    box-shadow: 2px 2px #1072EB;
}

.updateForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkBtn {
    color: white
}